.form{
   display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    border: outset;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    background-image: url(../../../public/Image/street-g437a4e54f_640.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 12px;
    padding: 30px;
}
