@import-normalize; 

body {
  font-family: -apple-system, BlinkMacSystemFont,cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  
  background: url(/public/Image/computer-gce91006f4_1920.jpg);
  box-sizing: border-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  height: 100vh;
  margin: 0;
  width: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
}
h1,h2{
  margin: 20px auto;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
}
/* button{

  background: linear-gradient(45deg,#565454,transparent);
  box-shadow: 5px 5px 5px 0 #000, inset 4px 4px 15px 0 #000, 5px 5px 15px 5px transparent;
  color: #e3d1c9
} */