.loader{
   display: flex;
   justify-content: center;
   width: 100px;
   height: 100px;
   border: 10px dotted transparent;
   border-left: 10px dotted #373737;
   border-right: 10px dotted #434343;
   border-bottom: 10px dotted #a7b7b4;
   border-top: 10px dotted #33169a;
   border-radius: 50%;
   animation: spin 1s linear infinite;
    margin: auto ; 
 }
 
   
   @keyframes spin {
     from {
       transform: rotate(0deg);
     }
   
     to {
       transform: rotate(360deg);
     }
   }