.button{
   background-color: aliceblue;
   border: 1px solid;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 5px;
   width: fit-content;
   margin: auto;
  
}
   

.button:hover{
   background-color:black ;
   color: antiquewhite;
}